# List: Ordered , mutable collection of elements

In [1]:
my_list = [1,2,3, "Hello", False, 4.5]
type(my_list)

list

In [2]:
print(my_list)

[1, 2, 3, 'Hello', False, 4.5]

In [14]:
my_list.append("new element")
my_list

[1,
 3,
 'Hello',
 False,
 4.5,
 'new element',
 'new element',
 'new element',
 'new element',
 'new element',
 'new element',
 'new element2',
 'new element3',
 'new element2']

In [15]:
my_list.remove("new element2")
my_list

[1,
 3,
 'Hello',
 False,
 4.5,
 'new element',
 'new element',
 'new element',
 'new element',
 'new element',
 'new element',
 'new element3',
 'new element2']

In [17]:
my_list[4]

4.5

# **Tuples**: ordered, non-mutable collection of elements

In [16]:
my_tuple = ("apple", "banana", "cherry")
my_tuple

('apple', 'banana', 'cherry')

In [18]:
my_tuple[1]

'banana'

# Dictionarie: unordered, mutable collection of elements

In [25]:
my_dict = {
    "name": "Steven",
    "age": 30,
    "location": "France"
}

my_dict2 = {
    "name": "Alice",
    "age": 18,
    "location": "United States"
}

my_complex_list = [my_dict, my_dict2]
my_complex_list

[{'name': 'Steven', 'age': 30, 'location': 'France'},
 {'name': 'Alice', 'age': 18, 'location': 'United States'}]

In [23]:
my_dict["location"]= my_tuple
my_dict

{'name': 'Alice', 'age': 18, 'location': ('apple', 'banana', 'cherry')}

# **Sets**: unordered, mutable, collection of unique elements

In [26]:
my_set = {1,2,3,4,5}
my_set

{1, 2, 3, 4, 5}

In [27]:
my_set = {1,2,3,4,5, 2, 4, 4, 4}
my_set

{1, 2, 3, 4, 5}

In [31]:
list=(1,2,3,4,5,6,7,8,9)
for i in list:
    print(i in my_set)

True
True
True
True
True
False
False
False
False